.is-svg
   width: 250px
   height: auto

.hero
   min-height: auto
   margin-bottom: 20px
   padding-bottom: 30px

.organizations
   grid-template-columns: repeat(4, 1fr)

.organizations .media
   max-width: 5rem
   min-width: 2.5rem

hr
   width: 70%
   color: #0B3E49
   border-bottom: 1px solid
   align: start

.block-chapter .notes *
   font-family: "Hepta SLab", serif
   font-size: 1rem
   font-weight: normal

.block-gallery figure figcaption
   font-family: "Hepta SLab", serif
   font-size: 1.1rem
   font-weight: 500
   line-height: var(--small-line-height)
   margin-top: 0.75rem
   position: relative

.block-call_to_action .call_to_action .description p
   font-family: "Hepta SLab", serif
   font-size: 1.6rem
   font-weight: normal
   line-height: var(--h2-line-height)
   text-transform: none

.block-testimonials blockquote.is-long p
   font-size: 1.5rem
   line-height: 120%

header#document-header .logo img
   height: 5rem

.hero--with-image figure > a::after
   width: 6rem

.hero--with-image .is-svg
   width: 10rem

.block .block-title
   text-transform: math-auto

.block-testimonials figure
   border: 1px solid #0B3E49
   border-style: dashed
   border-width: 3px
   padding: 20px

.block
   block-space-y: 2rem

.cards .media
   max-width: 100rem

.block-chapter .notes
   border: 1px solid #0B3E49
   border-style: dashed
   border-width: 3px
   padding: 20px

.menu .nav-level-1 > li > a
   font-size: 1.2rem

body.full-width .block-call_to_action .call_to_action--without-image > div
   display: flex

body.full-width .heading h2
   width: auto
   padding-bottom: 2rem

b, strong
   font-weight: bolder
   font-size: 1,7rem

.rich-text p:first-child
   margin-bottom: -2px
   margin-top: -2px

body.full-width .block-call_to_action .block-content
   padding-top: 0.5rem
   padding-bottom: 2rem

figcaption .avatar
   margin-top: 1rem

@media (min-width: 992px)
   body.full-width .block-chapter .chapter .text
      width: unset

   body.full-width .block-gallery--large figure figcaption p
      max-width: unset